.header {
  width: 700%;
  height: 60px;
  background-color: aquamarine;
  font-size: large;
}
 .navbar  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 36px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
 .navbar l1 {
  float: left;
  border-right: 1px solid#156ee2;
}
a {
  display: block;
  padding: 0 28px;
  color: #fff;
  text-decoration: none;
}
a:hover,
.active a {
  background-color: #156ee2;
}

.small-section {
  width: 190px;
  height: 60px;
  background-color: #574646;
  float: left;
}
.big-section {
  width: 700px;
  height: 60px;
  background-color: blue;
  float: right;
}
.banner {
  width: 900px;
  height: 200px;
  background-color: yellowgreen;
  margin: bottom 15px;
}
.image-area {
  width: 900px;
  height: 400px;
  margin-bottom: 15px;
}
.post-1 {
  width: 440px;
  height: 400px;
  background-color: gray;
  float: left;
}
.post-2 {
  width: 440px;
  height: 400px;
  background-color: gray;
  float: right;
}

.footer {
  width: 900px;
  height: 200px;
  background-color: blue;
  margin-top: 15px;
}
